<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.github.stringmanolo.selfcontrol">

    <!-- Permiso para dibujar overlay -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW"/>
    <!-- Permiso de internet para el TCPServer -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:label="SelfControl"
        android:theme="@android:style/Theme.DeviceDefault.Light.NoActionBar">

        <!-- Actividad principal que abre pantalla de accesibilidad -->
        <activity android:name=".MainActivity"
            android:exported="true"
            android:label="SelfControl">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- Servicio de accesibilidad -->
        <service
            android:name=".MouseAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService"/>
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config"/>
        </service>

    </application>
</manifest>
